@use "./styles/helpers";
@use "./styles/reset";
@use "./styles/vars";

html{
    background-color: #1E1E1E;
}
body{
    @include helpers.absolute-centered();
}
main{
    background-color: white;
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
